.additional-items {
  border-bottom: 1px solid #d9d9d9;
}

.additional-items__unit {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  color: #222222;
  margin-bottom: 11px;
  margin-top: 14px;
}

.additional-items__property {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: left;
  color: #444444;
}

.additional-items__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  color: #444444;
}

.additional-items__link {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  margin-top: 14px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .additional-items__pack {
    display: flex;
    justify-content: space-between;
  }

  .additional-items__stats {
    padding-top: 27px;
  }

  .additional-items {
    border: 1px solid rgba(205, 205, 205, 0.5);
    border-bottom: none;
    width: 708px;
    min-height: 140px;
  }

  .additional__wrapper div:last-child {
    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
  }

  .additional__container {
    margin-top: 48px;
  }

  .additional-items__property {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
  }

  .additional-items__value {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
  }

  .additional-items__unit {
    font-size: 20px;
    padding-top: 26px;
    padding-left: 38px;
    margin: 0;
  }

  .additional-items__link {
    padding-left: 284px;
    padding-right: 346px;
    margin-left: 38px;
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .additional__container {
    margin-top: 0;
  }

  .additional__wrapper {
    margin-top: 48px;
    margin-left: 10px;
  }

  .additional-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 895px;
    min-height: 69px;
    border-left: 0;
    border-right: 0;
    margin-bottom: 4px;

    &__link {
      width: 245px;
      padding: 9px 0 10px;
      margin-left: 39px;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    &__unit {
      width: 180px;
      padding-left: 0;
      padding-top: 9px;
    }

    &__stats tr {
      width: 285px;
      justify-content: flex-start;
    }

    &__property {
      padding-right: 0;
      padding-left: 0;
      width: 180px;
      text-align: left;
    }

    &__value {
      padding-right: 0;
      text-align: left;
      width: 120px;
      padding-left: 73px;
    }

    &__stats {
      margin-left: 110px;
      padding-top: 12px;
    }

    &__pack {
      flex-grow: 1;
    }
  }
}
