.catalog-card__wrapper {
  display: flex;
}

.catalog-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 10px;
  padding-top: 9px;
  width: 75px;
}

.catalog-card__property {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #444444;
}

.catalog-card__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: #444444;
}

.catalog-card__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: inline-block;
}

.catalog-card__stats {
  width: 140px;
  border-collapse: collapse;
}

.catalog-card {
  margin-top: 21px;
}

.catalog-card__wrapper ul:first-child {
  margin: 0;
}
@media (min-width: $tablet-width) {
  .catalog-card {
    background-color: #f2f2f2;
    margin-top: 103px;
    max-height: 431px;
    margin-bottom: 36px;
  }

  .catalog-card__wrapper {
    display: block;
  }

  .catalog-card__title {
    width: 138px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    margin-left: 94px;
    padding-top: 14px;
  }

  .catalog-card__stats {
    width: 252px;
    margin-left: 37px;
    margin-top: 22px;
  }

  .catalog-card__stats tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog-card__property,
  .catalog-card__value {
    font-size: 16px;
    line-height: 1;
    color: #444444;
    padding-bottom: 9px;
    padding-top: 5px;
  }

  .catalog-card__link {
    width: 249px;
    padding-bottom: 11px;
    margin-bottom: 70px;
    margin-left: 39px;
    margin-top: 32px;
  }

  .catalog-card__img--500 {
    margin-top: -46px;
  }

  .catalog-card__img--1000 {
    margin-top: -81px;
  }
}
@media (min-width: $desktop-width){
  .catalog-card{
    width: 245px;
    min-height: 431px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .catalog-card__stats{
    width: 171px;
  }
  .catalog-card__title{
    margin-left: 55px;
  }
  .catalog-card__link{
    width: 168px;
  }
}
