.catalog-card__wrapper {
  display: flex;
}

.catalog-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 10px;
  padding-top: 9px;
  width: 75px;
}

.catalog-card__property {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #444444;
}

.catalog-card__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: #444444;
}

.catalog-card__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: inline-block;
}

.catalog-card__stats {
  width: 140px;
  border-collapse: collapse;
}
.catalog-card{
  margin-top: 21px;
}
.catalog-card__wrapper ul:first-child{
  margin: 0;
}
