.catalog-full{
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  position: relative;
}
.catalog-full__decoration{
  background: url("../img/icon-plus-mobile.svg") no-repeat;
  width: 31px;
  height: 31px;
  position: absolute;
  top:0;
  left:100px;
}
.catalog-full__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #111111;
}

.catalog-full__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #444444;
}

.catalog-full__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #444444;
  background-color: #f2f2f2;
  padding-left: 97px;
  padding-right: 94px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
