.copyright__text {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.copyright__link{
  text-decoration: none;
}
.copyright__image{
  color: #666666;
}
