.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #444444;
}

.copyright__link {
  display: inline-flex;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 10px;
}

.copyright__image {
  margin-left: 130px;
}
@media (min-width: $tablet-width) {
  .copyright__image {
    margin-left: 14px;
    margin-top: 10px;
  }

  .copyright__link {
    padding-left: 27px;
  }
  .copyright__text{
    margin-top: 25px;
  }
}
