.great-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}
@media (min-width: $tablet-width) {
  .great-title {
    font-size: 60px;
    line-height: 1;
    letter-spacing: normal;
    margin-top: 38px;
  }
}
@media (min-width: $desktop-width) {
  .great-title {
    margin-top: 50px;
    padding-left: 9px;
  }
}
