.main-example {
  background-color: #f2f2f2;
  margin-top: 30px;
}

.main-example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
  margin: 0;
  padding-top: 33px;
}

.main-example__wrapper {
  padding-top: 10px;
}

.main-example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: left;
  color: #444444;
}
@media (min-width: $tablet-width) {
  .main-example {
    background-color: #ffffff;
  }

  .main-example__title {
    font-size: 60px;
    line-height: 1;
    padding-top: 60px;
  }

  .main-example__text {
    font-size: 16px;
    line-height: 1.5;
    width: 680px;
    margin-top: 54px;
  }
}
@media (min-width: $desktop-width) {
  .main-example__wrapper {
    display: flex;
  }
  .main-example__text{
    width: 442px;
padding-top: 83px;
padding-left: 10px;
  }
  .main-example__title{
    padding-top: 70px;
padding-left: 10px;
  }
}
