.main-nav {
  position: relative;
  margin: 0 auto;

}

.main-nav__toggle {
  width: 25px;
  height: 19px;
  //border: none;
  background-color: transparent;
  position: absolute;
  top: -44px;
  left: 250px;

  &::before {
    content: "";
    background: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    margin-left: 17px;
    width: 523px;
  }
}
@media (min-width: $desktop-width){
  .main-nav{
    z-index: 1;
    margin: 0;
  }
  .main-nav__wrapper{
    padding-top: 31px;
  }
}
