.main-preview {
  position: relative;
  min-height: 470px;
  margin-top: -23px;
}

.main-preview__background {
  background: #68b738 url("../img/index-background-mobile@1x.jpg") no-repeat;
  height: 305px;
  background-position: center;
  margin: 0 auto;
}

.main-preview__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  color: #ffffff;
  padding-top: 26px;
}

.main-preview__link {
  width: 280px;
  padding-top: 13px;
  padding-bottom: 7px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
}

.main-preview__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (min-width: $tablet-width) {
  .main-preview__background {
    background-image: none;
    background-color: transparent;
    width: 100%;
    position: relative;
  }

  .main-preview__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 1;
    text-align: left;
    color: #111111;

    width: 510px;
    padding-left: 86px;
    padding-top: 22px;


  }

  .main-preview__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
    color: #111111;

    padding-left: 89px;
  }

  .main-preview__image {
    position: absolute;
    top: 224px;
    left: calc(50% - 355px);
    z-index: -1;
  }
  .main-preview__link{
    font-size: 20px;
    width: 245px;

    padding-top: 14px;
    padding-bottom: 13px;
    margin-left: 89px;
    margin-top: 18px;

  }
}
@media (min-width: $desktop-width) {
  .main-preview__background {
   background-image:  url("../img/index-background-desktop@1x.jpg"),linear-gradient(to right, #ffffff 50%, #65a93c 50%) ;
    margin-top: -139px;
    padding-top: 80px;
    height: 696px;
       background-position: left calc(50% + 360px)  top 0, left 0 top 0;
  }

  .main-preview__image {
    position: absolute;
    top: 142px;
    left: calc(50% - 161px);
    z-index: 1;
  }
  .main-preview__title{
    padding-left: 89px;
padding-top: 102px;
  }
  .main-preview__link{
    margin-top: 22px;
  }
}
