.main-preview {}

.main-preview__background {
  background: #68b738 url("../img/index-background-mobile@1x.jpg") no-repeat;
  width: 100%;
  height: 305px;
}

.main-preview__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  color: #ffffff;
}

.main-preview__link {
  width: 280px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  margin-top:100px;
}

.main-preview__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
