.main-nav {
  position: relative;
}

.main-nav__toggle {
  width: 25px;
  height: 19px;
  //border: none;
  background-color: transparent;
  position: absolute;
  top: -44px;
  left: 250px;

  &::before {
    content: "";
    background: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
