.page-footer {
  margin-top: 48px;
}

.page-footer__backcolor {
  background-color: #f2f2f2;
  margin-top: 38px;
}

.page-footer__social {
  display: flex;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 0;
  margin-top: 26px;
  margin-bottom: 12px;
  justify-content: start;
}

.page-footer__map {
  max-width: 320px;
}

.page-footer__wrap {
  position: relative;
  text-align: center;
  margin-top: -27px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.page-footer__copyright {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__logo {
  margin-left: 76px;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/map-pin-mobile.png") no-repeat;
    width: 55px;
    height: 52px;
    top: 176px;
    left: 136px;
  }
}
@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 38px;
  }

  .page-footer__wrap {
    width: 768px;
    margin-right: auto;
  }

  .page-footer__map {
    max-width: 768px;
    padding-top: 64px;
  }

  .page-footer__backcolor {
    display: flex;
  }

  .page-footer__container-bottom {
    display: flex;
    justify-content: center;
  }

  .page-footer__logo {
    margin-left: 0;
  }
.page-footer__social{
  margin-left: 82px;
  margin-top: 0;
  border: none;
}

  .page-footer__link {
    padding-top: 24px;
    margin-left: -79px;
  }
}
