
.page-footer__backcolor {
  background-color: red;
}

.page-footer__social {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.page-footer__wrap {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/map-pin.png") no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
