.page-header {
  margin-top: 10px;
}
@media (min-width: $tablet-width) {
  .page-header {
    margin-top: 4px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: $desktop-width) {
  .page-header__logo {
    z-index: 1;
  }
}
