.page-footer {
  margin-top: 48px;
}

.page-footer__backcolor {
  background-color: #f2f2f2;
  margin-top: 38px;
}

.page-footer__social {
  display: flex;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 0;
  margin-top: 26px;
  margin-bottom: 12px;
  justify-content: start;
}

.page-footer__map {
  max-width: 320px;
}

.page-footer__wrap {
  position: relative;
  text-align: center;
  margin-top: -27px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/map-pin-mobile.png");
    width: 55px;
    height: 53px;
    top: 177px;
    right: 129px;
    z-index: 1;
  }
}

.page-footer__copyright {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__logo {
  margin-left: 76px;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/map-pin-mobile.png") no-repeat;
    width: 55px;
    height: 52px;
    top: 176px;
    left: 136px;
  }
}
@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 38px;
  }

  .page-footer__wrap {
    width: 768px;
    margin-right: auto;

    &::before {
      background: url("../img/map-pin-tablet.png") no-repeat;
      width: 113px;
      height: 106px;
      top: 214px;
      left: 333px;
    }
  }

  .page-footer__map {
    max-width: 768px;
    padding-top: 64px;
  }

  .page-footer__backcolor {
    display: flex;
  }

  .page-footer__container-bottom {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin-left: 0;
  }

  .page-footer__social {
    padding: 0;
    border: none;
    margin-top: 21px;
    margin-left: 18px;
  }

  .page-footer__link {
    padding-top: 24px;
  }

  .page-footer__copyright {
    width: 171px;
    margin-right: -8px;
    margin-left: 0;
  }
}
@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 114px;
  }

  .page-footer__wrap {
    width: 100%;
    height: 457px;
    overflow: hidden;
    margin-top: -215px;
    z-index: 1;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/map-pin.png");
      width: 124px;
      height: 106px;
      top: 207px;
      left: 928px;
      z-index: 1;
    }
  }

  .page-footer__container {
    position: relative;
  }

  .page-footer__map {
    position: absolute;
    top: -7px;
    left: -70px;
    max-width: inherit;
  }

  .page-footer__link {
    padding-left: 9px;
  }

  .page-footer__social {
    margin-left: 17px;
  }

  .page-footer__copyright {
    margin-right: 2px;
    padding-top: 3px;
  }
}
