.product-list {
  list-style: none;
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
}

.product-list__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.54;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;
  text-align: center;
}

.product-list__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.product-list__link {
  position: relative;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  color: #111111;

  &::before {
    content: "";
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    width: 25px;
    height: 12px;
    position: absolute;
    top: 7px;
    left: 100px;
  }
}
