.product-advantages__list {
  list-style: none;
  padding-left: 50px;
}

.product-advantages__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #444444;
  margin: 0;
  padding-left: 30px;
}

.product-advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  margin: 0;
}

.product-advantages__item {
  position: relative;
  padding-top: 25px;
}

.product-advantages__list li:first-child {
  padding-top: 0;
}

.product-advantages__text--1 {
  padding-top: 20px;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 16px;
    left: -50px;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../img/advantage-leaf@1x.png") no-repeat;
    width: 50px;
    height: 50px;
    top: 20px;
    left: -46px;
    z-index: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
  }
}

.product-advantages__text--2 {
  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 22px;
    left: -50px;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../img/advantage-powder@1x.png") no-repeat;
    width: 50px;
    height: 50px;
    top: 24px;
    left: -44px;
    z-index: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }
  }
}

.product-advantages__text--3 {
  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 22px;
    left: -50px;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../img/advantage-dining@1x.png") no-repeat;
    width: 50px;
    height: 50px;
    top: 26px;
    left: -46px;
    z-index: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }
  }
}

.product-advantages__text--4 {
  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 23px;
    left: -50px;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../img/advantage-clock@1x.png") no-repeat;
    width: 50px;
    height: 50px;
    top: 30px;
    left: -45px;
    z-index: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px 50px;
    }
  }
}

@media (min-width: $tablet-width) {
  .product-advantages {
    min-height: 720px;
  }

  .product-advantages__item {
    position: relative;
    padding-top: 10px;
  }

  .product-advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    position: relative;
  }

  .product-advantages__title {
    font-size: 60px;
    line-height: 1;
    padding-top: 30px;
  }

  .product-advantages__text {
    font-size: 16px;
    font-stretch: normal;
    line-height: 1.5;
    padding-left: 0;
    width: 260px;
    padding-top: 160px;
  }

  .product-advantages__list li:nth-child(2n) {
    padding-left: 122px;
  }

  .product-advantages__text--1 {
    padding-top: 170px;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: #68b738;
      top: 60px;
      left: 0;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../img/advantage-leaf@1x.png") no-repeat;
      width: 50px;
      height: 50px;
      top: 74px;
      left: 15px;
      z-index: 2;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 50px 50px;
      }
    }
  }

  .product-advantages__item--1 {
    position: relative;

    &::after {
      content: "1";
      position: absolute;
      font-size: 281px;
      color: #f2f2f2;
      top: 150px;
      left: 118px;
      z-index: -1;
    }
  }

  .product-advantages__text--2 {
    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: #68b738;
      top: 58px;
      left: 125px;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../img/advantage-powder@1x.png") no-repeat;
      width: 50px;
      height: 50px;
      top: 74px;
      left: 140px;
      z-index: 2;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 50px 50px;
      }
    }
  }

  .product-advantages__item--2 {
    position: relative;

    &::after {
      content: "2";
      position: absolute;
      font-size: 281px;
      color: #f2f2f2;
      top: 150px;
      left: 235px;
      z-index: -1;
    }
  }

  .product-advantages__text--3 {
    margin-top: 75px;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: #68b738;
      top: 132px;
      left: 0;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../img/advantage-dining@1x.png") no-repeat;
      width: 50px;
      height: 50px;
      top: 148px;
      left: 15px;
      z-index: 2;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50px 50px;
      }
    }
  }

  .product-advantages__item--3 {
    position: relative;

    &::after {
      content: "3";
      position: absolute;
      font-size: 281px;
      color: #f2f2f2;
      top: 226px;
      left: 110px;
      z-index: -1;
    }
  }

  .product-advantages__text--4 {
    margin-top: 75px;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: #68b738;
      top: 134px;
      left: 123px;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../img/advantage-clock@1x.png") no-repeat;
      width: 50px;
      height: 50px;
      top: 149px;
      left: 139px;
      z-index: 2;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50px 50px;
      }
    }
  }

  .product-advantages__item--4 {
    position: relative;

    &::after {
      content: "4";
      position: absolute;
      font-size: 281px;
      color: #f2f2f2;
      top: 226px;
      left: 237px;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-advantages {
    min-height: 400px;
  }

  .product-advantages__list {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-advantages__list li:nth-child(2n) {
    padding: 0;
  }

  .product-advantages__title {
    padding-top: 58px;
    padding-left: 10px;
  }

  .product-advantages__text {
    width: 245px;
    padding-top: 170px;
  }

  .product-advantages__item {
    padding-top: 0;
    margin-right: 9px;
  }

  .product-advantages__text--1 {
    padding-left: 10px;

    &::after {
      top: 60px;
      left: 9px;
    }

    &::before {
      top: 74px;
      left: 25px;
    }
  }

  .product-advantages__item--1::after {
    top: 152px;
    left: 127px;
  }

  .product-advantages__text--2 {
    padding-left: 5px;

    &::after {
      top: 59px;
      left: 7px;
    }

    &::before {
      top: 74px;
      left: 21px;
    }
  }

  .product-advantages__item--2::after {
    top: 150px;
    left: 119px;
  }

  .product-advantages__text--3 {
    margin-top: 0;

    &::after {
      top: 59px;
      left: 2px;
    }

    &::before {
      top: 74px;
      left: 18px;
    }
  }

  .product-advantages__item--3::after {
    top: 152px;
    left: 115px;
  }

  .product-advantages__text--4 {
    margin-top: 0;

    &::after {
      top: 60px;
      left: 0;
    }

    &::before {
      top: 74px;
      left: 14px;
    }
  }

  .product-advantages__item--4::after {
    top: 150px;
    left: 114px;
  }
}
