.product-info {
  margin-top: 27px;
}

.product-info__list {
  padding-left: 0;
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .product-info {
    margin-top: 350px;
  }

  .product-info__list {
    padding-top: 13px;
  }
}

@media (min-width: $desktop-width) {
  .product-info {
    margin-top: 30px;
  }

  .product-info__list {
    display: flex;
    flex-wrap: wrap;

    & li:nth-child(2n) {
      margin-left: 78px;
    }
  }
}
