.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}

.site-list__item {
  margin: 0;
  padding: 0;

  list-style: none;
}
@media (min-width: $tablet-width){
  .site-list{
    display: flex;
  }
}
