.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}

.site-list__item {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 22px;
  list-style: none;
  padding-left: 10px;

  &:first-child {
    padding-left: 62px;
  }
}
@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    padding-left: 15px;
  }

  .site-list__link {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.39;
    color: #222222;
  }
  .site-list__item{
    padding-left: 36px;
    padding-right: 0;
  }
}
@media (min-width: $desktop-width){
  .site-list__link{
    font-size: 20px;
    line-height: 1.25;
    color: #ffffff;
  }
  .site-list__link--deskcolor{
    color: #111111;
  }
  .site-list__item{
    padding-left: 18px;
    padding-right: 18px;
  }
.site-list__item:first-child{
  padding-left: 18px;
}
.site-list__item:last-child{
  padding-right: 0;
}
}
