.site-list__link {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}

.site-list__item {
  list-style: none;
  padding-bottom: 45px;
}
