.user-form {
  margin-top: 25px;
}

.user-form__section {
  padding-left: 0;
  padding-right: 0;
}

.user-form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  margin-right: 11px;

  &:hover::after {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-form__label--slimming,
.user-form__label--upweight,
.user-form__label--userhelp {
  padding-left: 44px;
  position: relative;
}
/* input error */
.user-form__control--slimming-error,
.user-form__control--upweight-error,
.user-form__control--userhelp-error {
  border: solid 1px #ff8282;
  box-shadow: 0 0 0 1px #ff8282;
}

.user-form__control--slimming + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  top: -3px;
  left: -2px;
}

.user-form__control--slimming:checked + label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
  top: 6px;
  left: 7px;
}

.user-form__control--slimming:checked + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  top: -3px;
  left: -2px;
}

.user-form__control--upweight + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  top: -3px;
  left: -2px;
}

.user-form__control--upweight:checked + label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
  top: 6px;
  left: 7px;
}

.user-form__control--upweight:checked + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  top: -3px;
  left: -2px;
}

.user-form__control--userhelp + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  top: -3px;
  left: -2px;
}

.user-form__control--userhelp:checked + label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
  top: 6px;
  left: 7px;
}

.user-form__control--userhelp:checked + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  top: -3px;
  left: -2px;
}

.user-form__wrap {
  min-height: 45px;

  &- {
    padding-top: 24px;
    margin: 0;
  }
}

.user-form__wrap--evidence {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-form__control {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  padding: 15px;
  border: solid 1px rgba(205, 205, 205, 0.5);

  &::placeholder {
    opacity: 1;
    color: #444444;
  }

  &:hover {
    border: solid 1px rgba(205, 205, 205, 1);
  }

  &:focus {
    box-shadow: 0 0 0 1px #444444;
    outline: 0;
  }
}

.user-form__control--name {
  width: 227px;
}

.user-form__control--weight {
  width: 205px;
}

.user-form__control--age {
  width: 172px;
}

.user-form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: #111111;
  background-color: #ffffff;
  margin-bottom: 0;
  margin-top: 27px;
  width: 220px;
  padding-left: 20px;

  &-wrap {
    padding-left: 0;
  }
}

.user-form__btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 9px;
  margin-bottom: 15px;
  width: 280px;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.user-form__star {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: normal;
  color: #444444;
  display: block;
  padding-top: 3px;
  padding-left: 7px;
}

.user-form__fieldset {
  position: relative;
  padding: 0;

  &-wrapper {
    padding-left: 20px;
  }
}

.user-form__fieldset-wrapper--1 {
  margin-bottom: 9px;
}

.user-form__fieldset-wrapper--2 {
  border: solid 1px #ededed;
  padding-top: 14px;
  padding-bottom: 7px;
}

.user-form__fieldset--line {
  &::before {
    top: 42px;
    z-index: -1;
    width: 100%;
    height: 3px;
    border-top: 3px solid #68b738;
    position: absolute;
    content: "";
  }
}

.user-form__fieldset--line-1::before {
  top: 42px;
  z-index: -1;
  width: 100%;
  height: 3px;
  border-top: 3px solid #68b738;
  position: absolute;
  content: "";
}

.user-form__fieldset--line-label {
  &::before {
    top: 15px;
    z-index: -1;
    width: 100%;
    height: 3px;
    border-top: 3px solid #68b738;
    position: absolute;
    content: "";
  }
}

.user-form__container {
  margin-top: 33px;
}

.user-form__control--email {
  width: 219px;
  height: 45px;

  &:focus + .user-form__mail-icon {
    fill: #68b738;
  }
}

.user-form__control--phone {
  width: 204px;
  height: 45px;

  &:focus + .user-form__phone-icon {
    fill: #68b738;
  }
}
/* Input error + icon color */
.user-form__control--email-error {
  border: solid 1px #ff8282;
  box-shadow: 0 0 0 1px #ff8282;

  &:focus + .user-form__control--email {
    fill: #ff8282;
  }
}

.user-form__control--phone-error {
  border: solid 1px #ff8282;
  box-shadow: 0 0 0 1px #ff8282;

  &:focus + .user-form__control--phone {
    fill: #ff8282;
  }
}

.user-form__wrap--userdata {
  padding-bottom: 14px;
  padding-top: 1px;
  position: relative;
}

.user-form__label--email {
  margin-right: 7px;
}

.user-form__mail-icon {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 18px;
  height: 14px;
}

.user-form__wrap--phone {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
}

.user-form__label--phone {
  margin-right: 5px;
}

.user-form__phone-icon {
  position: absolute;
  top: 14px;
  right: 13px;
  width: 21px;
  height: 21px;
}

.user-form__fieldset--comment {
  margin-top: 14px;
}

.user-form__control--textarea {
  margin-top: 34px;
  padding-top: 12px;
  width: 283px;
  height: 150px;
  resize: none;
}

.user-form__wrapper--2 {
  margin-top: -6px;
}

.user-form__title--still {
  width: 183px;
}

.user-form__title--comment {
  padding-right: 20px;
}

.user-form__wrap--product {
  height: 19px;
  margin: 0;
  padding-top: 7px;
  padding-left: 45px;
  position: relative;
}

.user-form__wrap--radio {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-form__control--sweetener + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  top: 3px;
  left: -2px;
}

.user-form__control--sweetener:checked + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  top: 3px;
  left: -2px;
}

.user-form__control--sweetener:checked + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg") no-repeat;
  top: 9px;
  left: 3px;
}

.user-form__control--water + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  top: 0;
  left: -1px;
}

.user-form__control--water:checked + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg") no-repeat;
  top: 7px;
  left: 3px;
}

.user-form__control--milk + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  top: 3px;
  left: -1px;
}

.user-form__control--milk:checked + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg") no-repeat;
  top: 9px;
  left: 3px;
}

.user-form__control--vitamins + label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  top: 0;
  left: -1px;
}

.user-form__control--vitamins:checked + label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg") no-repeat;
  top: 7px;
  left: 3px;
}

.user-form__send-container {
  margin-top: 19px;
}

@media (min-width: $tablet-width) {
  .user-form__wrapper {
    display: flex;
  }

  .user-form__label {
    font-size: 20px;
    line-height: 1;
  }

  .user-form__control {
    font-size: 20px;
    padding-left: 19px;
    padding-bottom: 12px;

    &--name {
      width: 567px;
    }

    &--weight {
      width: 536px;
    }

    &--age {
      width: 498px;
    }
  }

  .user-form__wrap--evidence {
    margin-bottom: 20px;
  }

  .user-form__fieldset--comment {
    margin-top: 24px;
  }

  .user-form__fieldset-wrapper--1 {
    padding-left: 70px;
    padding-top: 30px;
  }

  .user-form__fieldset-wrapper--2 {
    margin-left: 70px;
    margin-right: 67px;
    padding-top: 17px;
    margin-top: 58px;
    padding-bottom: 26px;
  }

  .user-form__fieldset--line-1::before {
    top: 93px;
  }

  .user-form__container {
    margin-top: 49px;
  }

  .user-form__label--weight {
    margin-right: 14px;
  }

  .user-form__label--slimming {
    padding-left: 65px;
  }

  .user-form__label--upweight {
    padding-left: 65px;
    display: block;
    padding-top: 9px;
  }

  .user-form__label--userhelp {
    padding-left: 65px;
    padding-top: 16px;
    display: block;
  }

  .user-form__control--slimming + label::after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -4px;
    left: 6px;
  }

  .user-form__control--slimming:checked + label::before {
    width: 18px;
    height: 18px;
    top: 7px;
    left: 17px;
  }

  .user-form__control--slimming:checked + label::after {
    width: 40px;
    height: 40px;
    top: -4px;
    left: 6px;
  }

  .user-form__control--upweight + label::after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -1px;
    left: 6px;
  }

  .user-form__control--upweight:checked + label::before {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 17px;
  }

  .user-form__control--upweight:checked + label::after {
    width: 40px;
    height: 40px;
    top: -1px;
    left: 6px;
  }

  .user-form__control--userhelp + label::after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 7px;
    left: 6px;
  }

  .user-form__control--userhelp:checked + label::before {
    width: 18px;
    height: 18px;
    top: 17px;
    left: 17px;
  }

  .user-form__control--userhelp:checked + label::after {
    width: 40px;
    height: 40px;
    top: 7px;
    left: 6px;
  }

  .user-form__title {
    font-size: 36px;
    line-height: 1;
    width: 590px;
    padding-left: 37px;
    margin-top: 71px;

    &-wrap {
      padding-left: 30px;
    }
  }

  .user-form__fieldset--line::before {
    top: 94px;
  }

  .user-form__wrapper--1 {
    justify-content: space-between;
    width: 554px;
    margin-left: 25px;
    padding-top: 11px;
  }

  .user-form__wrapper--2 {
    justify-content: space-between;
    margin-left: 26px;
    margin-top: 27px;
    width: 515px;
  }

  .user-form__wrap--product {
    padding-left: 70px;
  }

  .user-form__wrap--email {
    padding-top: 36px;
    padding-left: 39px;
  }

  .user-form__label--email {
    margin-right: 18px;
  }

  .user-form__control--email {
    width: 551px;
    height: 51px;
    padding-top: 9px;
  }

  .user-form__wrap--phone {
    margin-top: 0;
  }

  .user-form__label--phone {
    margin-right: 13px;
  }

  .user-form__control--phone {
    width: 535px;
    height: 49px;
  }

  .user-form__mail-icon {
    top: 38px;
    right: 57px;
  }

  .user-form__phone-icon {
    top: 36px;
    right: 54px;
  }

  .user-form__wrap--userdata {
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 37px;
  }

  .user-form__fieldset--line-label {
    margin-top: 43px;

    &::before {
      top: 66px;
    }
  }

  .user-form__title--comment {
    padding-right: 39px;
  }

  .user-form__control--textarea {
    width: 631px;
    height: 174px;
    margin-top: 76px;
    margin-left: 37px;
  }

  .user-form__fieldset--still {
    margin-top: -7px;
  }

  .user-form__title--still {
    width: 290px;
  }

  .user-form__wrap--sweetener {
    padding-top: 20px;
    padding-left: 97px;
  }

  .user-form__wrap--water {
    padding-top: 21px;
    padding-left: 172px;
  }

  .user-form__wrap--milk {
    padding-top: 43px;
    padding-left: 96px;
  }

  .user-form__wrap--vitamins {
    padding-top: 43px;
    padding-left: 265px;
  }

  .user-form__control--sweetener + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 13px;
  }

  .user-form__control--sweetener:checked + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 13px;
  }

  .user-form__control--sweetener:checked + label::before {
    width: 21px;
    height: 16px;
    top: 10px;
    left: 23px;
  }

  .user-form__control--water + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 13px;
  }

  .user-form__control--water:checked + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 13px;
  }

  .user-form__control--water:checked + label::before {
    width: 21px;
    height: 16px;
    top: 11px;
    left: 22px;
  }

  .user-form__control--milk + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 12px;
  }

  .user-form__control--milk:checked + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 12px;
  }

  .user-form__control--milk:checked + label::before {
    width: 21px;
    height: 16px;
    top: 11px;
    left: 23px;
  }

  .user-form__control--vitamins + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 11px;
  }

  .user-form__control--vitamins:checked + label::after {
    width: 40px;
    height: 40px;
    top: -2px;
    left: 11px;
  }

  .user-form__control--vitamins:checked + label::before {
    width: 21px;
    height: 16px;
    top: 11px;
    left: 21px;
  }

  .user-form__send-container {
    display: flex;
    margin-top: 48px;
  }

  .user-form__btn {
    font-size: 20px;
    line-height: 1;
    margin-left: 42px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .user-form__star {
    font-size: 16px;
    line-height: 1;
    padding-top: 15px;
    padding-left: 69px;
  }
}

@media (min-width: $desktop-width) {
  .user-form__wrapper {
    display: inline-flex;
  }

  .user-form__section {
    display: flex;
  }

  .user-form__fieldset-wrapper--1 {
    padding-left: 40px;
    padding-top: 30px;
  }

  .user-form__control--name {
    width: 507px;
  }

  .user-form__control--weight {
    width: 476px;
  }

  .user-form__control--age {
    width: 438px;
  }

  .user-form__fieldset-wrapper--2 {
    width: 570px;
    height: 196px;
    margin-left: 77px;
    margin-right: 0;
    margin-top: 45px;
  }

  .user-form__fieldset--line-1::before {
    top: 64px;
  }

  .user-form__title {
    width: 590px;
    padding-left: 37px;
    margin-top: 42px;
  }

  .user-form__wrapper--1 {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 531px;
    margin-top: 10px;
    margin-right: 65px;
  }

  .user-form__wrap--product {
    padding-left: 66px;
  }

  .user-form__fieldset--line::before {
    top: 96px;
  }

  .user-form__wrap--userdata {
    padding-left: 9px;
    width: 593px;
  }

  .user-form__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    & div:nth-child(2n) {
      margin-left: 54px;
    }
  }

  .user-form__wrapper--2 {
    padding: 0;
    width: 491px;
    margin-top: 10px;
  }

  .user-form__label--email {
    margin-right: 18px;
    padding-top: 15px;
  }

  .user-form__control--email {
    width: 485px;
  }

  .user-form__mail-icon {
    top: 39px;
    right: 34px;
  }

  .user-form__label--phone {
    padding-left: 0;
  }

  .user-form__control--phone {
    width: 472px;
  }

  .user-form__phone-icon {
    top: 36px;
    right: 30px;
  }

  .user-form__fieldset--line-label {
    margin-top: 41px;
  }

  .user-form__fieldset--line-label::before {
    top: 64px;
  }

  .user-form__title-wrap {
    padding-left: 0;
  }

  .user-form__title--comment {
    padding-left: 37px;
  }

  .user-form__control--textarea {
    width: 1220px;
    height: 174px;
    margin-left: 7px;
  }

  .user-form__title--still {
    margin-top: 74px;
    width: 289px;
  }

  .user-form__wrap--sweetener {
    padding-left: 65px;
  }

  .user-form__wrap--water {
    padding-top: 20px;
    padding-left: 154px;
  }

  .user-form__wrap--milk {
    padding-top: 20px;
    padding-left: 186px;
  }

  .user-form__wrap--vitamins {
    padding-top: 21px;
    padding-left: 247px;
  }

  .user-form__control--sweetener + label::after {
    left: 8px;
  }

  .user-form__control--sweetener:checked + label::after {
    left: 8px;
  }

  .user-form__control--sweetener:checked + label::before {
    top: 10px;
    left: 18px;
  }

  .user-form__control--water + label::after {
    left: 7px;
  }

  .user-form__control--water:checked + label::after {
    left: 7px;
  }

  .user-form__control--water:checked + label::before {
    left: 18px;
  }

  .user-form__control--milk + label::after {
    top: -2px;
    left: 8px;
  }

  .user-form__control--milk:checked + label::after {
    top: -2px;
    left: 8px;
  }

  .user-form__control--milk:checked + label::before {
    left: 19px;
    top: 11px;
  }

  .user-form__control--vitamins + label::after {
    top: -2px;
    left: 8px;
  }

  .user-form__control--vitamins:checked + label::after {
    top: -2px;
    left: 8px;
  }

  .user-form__control--vitamins:checked + label::before {
    left: 18px;
    top: 12px;
  }

  .user-form__btn {
    margin-left: 10px;
    padding-left: 35px;
    padding-right: 30px;
    margin-top: 6px;
    width: 568px;
  }

  .user-form__star {
    padding-top: 20px;
    padding-left: 88px;
  }
}
