.user-gift {
  background: #68b738 url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  width: auto;
  height: 289px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/icon-gift.svg") no-repeat;
    width: 56px;
    height: 61px;
    top: 0;
    left: 0;
  }
}

.user-gift__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin-top: 42px;
}

.user-form__fieldset {
  border: 0;
}
@media (min-width: $tablet-width) {
  .user-gift {
    background: #68b738 url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    width: auto;
    height: 200px;
    margin-top: 68px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-gift.svg") no-repeat;
      width: 56px;
      height: 61px;
      top: 64px;
      left: 91px;
    }
  }

  .user-gift__text {
    width: 159px;
    height: 56px;
  }
}
@media (min-width: $desktop-width) {
  .user-gift {
    background: #68b738 url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    width: 245px;
    height: 289px;
    position: absolute;
    right: 40px;
    margin-top: 48px;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-gift.svg") no-repeat;
      width: 56px;
      height: 61px;
      top: 64px;
      left: 96px
    }

    &__text {
      margin-top: 186px;
      margin-left: 32px;
      width: 180px;
    }
  }
}
