.user-invite {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 113px;

  &--fff {
    background-color: #ffffff;
  }
}

.user-invite__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
  margin-top: 27px;
}

.user-invite__geo {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #444444;
  margin: 0;
  width: 140px;
  padding-left: 0;
}

.user-invite__wrapper {
  padding-top: 27px;
}

@media (min-width: $tablet-width) {
  .user-invite {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 203px;
  }

  .user-invite__text {
    font-size: 20px;
    line-height: 1.25;
    text-align: left;
    width: 154px;
    padding-left: 41px;
    margin-top: 66px;
  }

  .user-invite__geo {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    width: 180px;

    &--sity {
      padding-top: 20px;
    }
  }

  .user-invite__wrapper {
    padding-right: 42px;
    padding-top: 65px;
  }
}

@media (min-width: $desktop-width) {
  .user-invite {
    z-index: 2;
    justify-content: flex-start;
    width: 570px;
    height: 201px;
    margin: 0;
    position: absolute;
    top: 95px;
    padding: 0;

    &__text {
      padding-left: 74px;
      padding-top: 0;
    }

    &__wrapper {
      margin-left: 171px;
      padding-top: 65px;
    }

    &__geo {
      text-align: left;
    }
  }
}
