.view-changes__wrapper {
  width: 84px;
  height: 14px;
  padding: 0 6px;
  margin-top: 2px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid rgba(205, 205, 205, 0.5);
  border-radius: 6px;
  position: relative;
}

.view-changes__options {
  position: absolute;
  top: calc(50% - 3px);
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 3px;
  outline: 0;
}

.view-changes {
  display: flex;
  margin-top: 33px;
}

.toggle {
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;

  &__before {
    padding-left: 43px;
    padding-right: 19px;
  }

  &__after {
    padding-left: 18px;
    padding-right: 19px;
  }
}

@media (min-width: $tablet-width) {
  .toggle {
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted rgba(205, 205, 205, 0.7);
    width: 48px;
    padding: 0;

    &__before {
      margin-right: 24px;
      margin-left: 5px;
      margin-top: -1px;
      padding-bottom: 6px;
      z-index: 1;
    }

    &__after {
      margin-left: 21px;
      margin-top: -7px;
      z-index: 1;
    }

    &:hover {
      border-bottom: 1px solid rgba(205, 205, 205, 1);
    }

    &:active {
      border-bottom: 1px solid rgba(205, 205, 205, 0);
    }
  }

  .view-changes__wrapper {
    width: 428px;
    height: 7px;
    background-color: #dcdcdc;
    margin-top: 7px;
    position: relative;

    &::after {
      content: "";
      width: 34px;
      position: absolute;
      height: 34px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      top: -15px;
      left: 197px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      background-color: white;
    }
  }

  .view-changes__wrapper:hover::after {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .view-changes__wrapper:active::after {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #68b738;
  }

  .view-changes__options {
    content: "";
    position: absolute;
    background-color: #68b738;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    top: -1px;
    left: 210px;
    border: 0;
    z-index: 1;
  }

  .view-changes {
    margin-top: 17px;
    padding-left: 92px;
  }
}

@media (min-width: $desktop-width) {
  .view-changes {
    padding-left: 178px;
    margin-top: -159px;
  }

  .view-changes__wrapper {
    margin-top: 13px;
  }

  .toggle__before {
    padding-bottom: 8px;
    padding-top: 5px;
    z-index: 1;
  }

  .toggle__after {
    padding-top: 11px;
    padding-bottom: 5px;
    z-index: 1;
  }
}
